@media screen and (max-width: 1200px)
  .bonuses-cards
    &__header
      padding: 0 15px 38px
    .top-casino
      padding: 0 15px 80px
    .seo-text
      padding: 82px 15px 53px
    .faq
      padding: 83px 15px 80px
    .top-casino
      &__list
        &-item
          width: 23.4%
        &-name
          line-height: 18px

@media screen and (max-width: 1023px)
  .bonuses-cards
    &__header
      .page-title
        font-size: 36px
        line-height: 40px
      .page-subtitle
        width: 100%
    .top-casino
      padding: 0 15px 50px
      &__filter
        &-btns
          height: 36px
        &-item
          padding: 10px 16px 7px
        .filter-icon
          &:before
            width: 15px
            height: 15px
            margin: -1px 7px 0 0
      &__list
        &-item
          width: 31.4%
          margin-right: 20px
          &:nth-child(4n)
            margin-right: 20px
          &:nth-child(3n)
            margin-right: 0
        &-btn
          margin-top: 12px
    .seo-text
      padding: 52px 15px 35px
    .faq
      padding: 56px 15px 60px
      &__wrap
        margin-top: 30px
      &__list
        &-item
          &-title
            padding: 16px 45px 13px 20px
            font-size: 15px
            &:before
              right: 20px
          &-text
            padding: 0 20px 30px

@media screen and (max-width: 767px)
  .about-text
    font-size: 14px
    line-height: 20px
  .bonuses-cards
    &__header
      .page-title
        font-size: 24px
        line-height: 32px
      .page-subtitle
        font-size: 14px
        line-height: 20px
    .top-casino
      padding: 0 15px 40px
      &__filter
        margin-right: -15px
        &-item
          margin-right: 6px
        &-btns
          display: none
        &-wrap
          width: 100%
      &__list
        .info-btn
          width: 16px
          height: 16px
          top: 14px
          right: 14px
        &-img
          width: 60px
          height: 60px
        &-category
          font-size: 12px
        &-category
          margin-top: 15px
        &-name
          margin-top: 5px
          font-size: 16px
          line-height: 17px
        &-item
          width: 48.3%
          height: 240px
          padding: 10px 15px
          margin: 0 10px 10px 0
          &:nth-child(4n)
            margin-right: 10px
          &:nth-child(3n)
            margin-right: 10px
          &:nth-child(even)
            margin-right: 0
      .paginator
        margin-top: 30px
    .seo-text
      padding: 40px 15px 25px
      .section-title
        font-size: 19px
        line-height: 25px
    .faq
      padding: 40px 15px 40px
      .section-title
        font-size: 24px
        line-height: 32px
      .section-subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
      &__wrap
        flex-direction: column
      &__list
        width: 100%
        &-item
          margin-right: 0
          &-title
            font-size: 14px
            padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .bonuses-cards
    .breadcrumbs
      padding: 20px 0 13px
    .top-casino
      &__list
        .info-btn
          display: none
        &-item
          width: 47.9%
          height: 210px
        &-img
          width: 50px
          height: 50px
        &-btn
          margin-top: 10px
          padding: 10px 10px 7px
          font-size: 12px
          line-height: 14px