$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF
$yellow-bg: #fef3e2

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.about-text
  font-size: 16px
  line-height: 22px
  color: $gray-semi
  text-align: left
  letter-spacing: 0.003em
  font-family: $font-gilroy-regular
  &__text
    margin-bottom: 26px
  &__list
    margin-bottom: 25px
    li
      list-style-type: disc
      list-style-position: inside

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.bonuses-cards
  &__header
    padding-bottom: 38px
    background: $light
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
      letter-spacing: -0.01em
    .page-subtitle
      font-family: $font-gilroy-regular
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      width: 49%
      margin-top: 12px

.top-casino
  padding-bottom: 80px
  background: $light
  &__filter
    overflow: hidden
    position: relative
    .top-casino__filter-wrap::-webkit-scrollbar
      display: none
    &-wrap
      overflow-x: scroll
      position: relative
      width: calc(100% - 70px)
    &-btns
      position: absolute
      top: 0
      right: 0
      width: 80px
      height: 40px
      background: $white
      border: 1px solid #E9E9E9
      box-shadow: -20px 10px 10px rgba(255,255,255,.9)
      border-radius: 100px
      z-index: 2
      display: flex
      justify-content: center
      align-items: center
      .left-btn,
      .right-btn
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 9px
        height: 13px
        cursor: pointer
      .left-btn
        transform: rotate(180deg)
        background-color: #C8C8C8
        margin-right: 33px
      .right-btn
        background-color: $dark
    &-list
      width: max-content
      display: flex
    &-item
      font-size: 14px
      color: $gray-semi
      border: 1px solid #E9E9E9
      border-radius: 100px
      padding: 12px 16px 9px
      background: $white
      margin-right: 8px
      cursor: pointer
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        color: $green-default
        border-color: $green-default
    .active
      background: #F7FBF9
      color: $green-default
      border-color: $green-default
    .filter-icon
      &:before
        content: ""
        width: 20px
        height: 20px
        display: inline-block
        vertical-align: top
        margin: -3px 10px 0 0
    .filter-forbidden
      &:before
        background: url("../img/forbidden-icon.png") no-repeat 0 0/contain
    .filter-checked
      &:before
        background: url("../img/checked-icon.png") no-repeat 0 0/contain
    .filter-welcome
      &:before
        background: url("../img/welcome-icon.png") no-repeat 0 0/contain
    .filter-money
      &:before
        background: url("../img/money-icon.png") no-repeat 0 0/contain
  &__list
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    .info-btn
      width: 20px
      height: 20px
      mask-image: url("../img/info-icon.svg")
      mask-repeat: no-repeat
      mask-size: contain
      background-color: $gray-light
      cursor: pointer
      position: absolute
      top: 20px
      right: 20px
      transition: background-color .3s linear
      &:hover
        background-color: $dark
    &-item
      background: $white
      width: 23.6%
      border-radius: 2px
      box-shadow: 0 4px 20px #F1F1F1
      padding: 10px 24px
      margin-right: 20px
      margin-bottom: 20px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      height: 280px
      position: relative
      &:nth-child(4n)
        margin-right: 0
    &-img
      width: 80px
      height: 80px
      border-radius: 50%
      flex-shrink: 0
      overflow: hidden
    &-category
      margin-top: 22px
      font-size: 14px
      color: $gray-semi
    &-name
      margin-top: 10px
      font-size: 18px
      color: $dark
      letter-spacing: -0.01em
    &-btn
      margin-top: 21px
      font-size: 14px
      color: $green-default
      border: 1px solid $gray-light
      width: 100%
      text-align: center
      padding: 15px 10px 12px
      &:hover
        background: $green-default
        color: $white
        border-color: $green-default

.paginator
  display: flex
  justify-content: center
  margin-top: 31px
  .prev,
  .next
    padding-top: 0
    &:before
      content: ""
      mask-repeat: no-repeat
      mask-size: contain
      width: 8px
      height: 10px
      background-color: $dark
    &:hover
      &:before
        background-color: $white
  .prev
    margin-right: 20px
    &:before
      mask-image: url("../img/arrow-right.svg")
      transform: rotate(180deg)
  .next
    margin-left: 20px
    &:before
      mask-image: url("../img/arrow-right.svg")
  &__item
    width: 42px
    height: 42px
    border: 1px solid $gray-light
    margin-right: -1px
    background: $white
    font-size: 16px
    color: $dark
    display: flex
    justify-content: center
    align-items: center
    padding-top: 4px
    &:hover
      color: $white
      background: $green-default
      border-color: $green-default
      cursor: pointer
  .active-page
    color: $white
    background: $green-default
    border-color: $green-default
  .forbidden
    &:before
      background-color: #BFBFBF
    &:hover
      color: $dark
      background: $white
      border-color: $gray-light
      cursor: default
      &:before
        background-color: #BFBFBF

.faq
  padding: 83px 0 100px
  text-align: center
  background: $light
  .section-title
    margin-bottom: 12px
    font-size: 44px
    line-height: 52px
    color: $dark
    font-family: $font-otomarine
  .section-subtitle
    width: 63%
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin: 0 auto
  &__wrap
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__list
    width: 49.5%
    &-item
      list-style: none
      border-radius: 3px
      margin-bottom: 10px
      background: $white
      text-align: left
      cursor: pointer
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 30px rgba(228,228,228,1)
      summary::-webkit-details-marker
        display: none
      > summary
        list-style: none
      &[open]
        box-shadow: 0 4px 30px rgba(228,228,228,1)
        > summary:before
          transform: rotate(180deg)
      &-title
        font-size: 16px
        color: $dark
        outline: none
        position: relative
        padding: 27px 60px 24px 30px
        &:before
          content: ""
          mask-image: url("../img/arrow-down.svg")
          mask-size: 14px 9px
          background-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: block
          position: absolute
          top: 45%
          right: 28px
      &-text
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        padding: 0 30px 30px

.seo-text
  padding: 82px 0 53px
  .section-title
    font-family: $font-otomarine
    font-size: 28px
    line-height: 32px
    color: $dark
    margin-bottom: 9px